header{
  position: fixed;
  width: 100%;
  height: auto;
}
.carousel-inner img {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: default;  
}              

   
   
}
aside{
  margin: none;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #333;
}
body{
  background-image:url(https://wallpapersite.com/images/pages/pic_w/916.jpg);
  background-repeat: no-repeat;
  
   
  background-repeat: no-repeat;
  background-size: cover;
}
 

jumbotron{
  background-color: pink;
}

.topnav-right a{
    float:right;
    text-align: center;
    padding-right: 20px;
    color: grey;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 15px;
}
.topnav-right button{
    float:right;
}
.topnav-left a{
    float:left;
    margin-top: 20px;
}
.topnav-left a{
    margin-top: 20px;
    text-align: center;
    padding-right: 20px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 25px;
}
.topnav-left a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav-right a:hover {
    background-color: #ddd;
    color: black;
  }
form.example input[type=text] {
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    height: 20px;
    background: #f1f1f1;
  }
form.example button {
    float: left;
    box-sizing: border-box;
    width: 20%;
    height: 20px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  p1, p2{
    font-size: 100%;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
  }
  .col-sm{
    float: left;
    width: 25%;
    padding: 33px;
  }
  .div{
    float:right;
    display:block;
    width:30%;
    position:relative;
}
footer{
  background-color:maroon;
  color:white;
  text-align:center
  }
  .column {
    float: left;
    width: 25%;
    padding: 33px;
    height: 350px;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
    }
  